#website-name {
    font-family: 'Kanit', sans-serif;
}

.low-uv {
    background-color: lightgreen;
}

.moderate-uv {
    background-color: yellow;
}

.high-uv {
    background-color: orange;
}

.very-high-uv {
    background-color: red;
}

.extreme-uv {
    background-color: purple;
}