#website-name {
    font-family: 'Kanit', sans-serif;
}

#search-history-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.low-uv {
    background-color: lightgreen;
}

.moderate-uv {
    background-color: yellow;
}

.high-uv {
    background-color: orange;
}

.very-high-uv {
    background-color: red;
}

.extreme-uv {
    background-color: purple;
}